---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
const allProjects = await Astro.glob('../pages/projects/*.md');
const pageTitle = "Tamarisk Mendoza";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Tamarisk B Mendoza</h1>
    <small>Lead Generation Specialist</small>
    <h2>About</h2>
    <p>
        Passionate about lead generation, I excel in employing diverse and
        effective strategies to consistently deliver high-quality leads.
        With a keen understanding of the ever-evolving digital world,
        I leverage my skills to drive meaningful results and contribute to the success of businesses.
    </p>
    <h2>Skills</h2>
    <ul>
        <li>Data Analysis</li>
        <li>Market Research</li>
        <li>SEO Knowledge</li>
        <li>Email Marketing</li>
        <li>Content Marketing</li>
        <li>Communication</li>
        <li>Lead Nurturing</li>
    </ul>
    <h2>Tools</h2>
    <ul>
        <li>Apollo.io</li>
        <li>Wiza.co</li>
        <li>SalesQL</li>
        <li>Instant Data Scraper</li>
        <li>RocketReach</li>
        <li>Mailchimp</li>
        <li>Canva</li>
        <li>Google Workspace</li>
        <li>Wordpress</li>
        <li>Quillbot</li>
        <li>ChatGPT</li>
        <li>SharpSpring</li>
    </ul>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp"/>
    </div>
    <h2>Sample Works</h2>
    <ul role="list" class="link-card-grid">
        {allProjects.map((card) => <Card 
            url={card.frontmatter.website} 
            image={card.frontmatter.image.url} 
            title={card.frontmatter.title} 
            body={card.frontmatter.description}
        />)}
    </ul>
</Layout>
<style>
    /* small */
    small {
        background-color: #584966;
        color: #fdebf3;
        border-radius: 6px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }

    /* Button */
    button {
        background: rgba(0,0,0,0);
        border: 2px solid #78c2ad;
        border-radius: 8px;
        color: #fdebf3;
        font: 600 16px 'Josefin Sans', sans-serif;
        padding: 8px 16px;
        transition: background-color 0.4s, color 0.4s;
    }

    button:hover {
        background-color: #78c2ad;
        color: #1e1e2e;
        cursor: pointer;
    }

    .button {
        text-align: center;
    }

    /* Skill images */
    .link-images img {
        margin: 16px 4px;
    }

    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
